*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: black;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.text-box{
    text-align: center;
    justify-content: center;
    display: flex;
    line-height: 70px;
    font-size: 1.5rem;
    margin: 0px 30px;
    
}

.text h1{
    color: white;
}

.text span{
    color: red;
}

button{
    font-size: 1.5rem;
    padding: 20px 20px;
    background: none;
    color: white;
    outline: none;
    border: none;
    border: 2px solid white;
    margin-top: 20px;
    cursor: pointer;
}




